*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

#navbarNav{
    background-image: linear-gradient(to right, #120b0bf5,#090a0a);
    padding: 0 !important;
}

.navbar-nav{
    padding: 0 10px;
}

.navbar-nav li a{
    font-weight: 600;
    color: #d2840f !important;
    text-indent: 50px;
    float: right;
    text-align: left;
    font-size: 10px;
}

.navbar-nav li a:hover{
    color: white !important;
      
}

.fa-bars{
    color: #0a0101;
    font-size: 30px !important;
}

.navbar-toggler{
    outline: none !important;
}

.container-fluid{
    background-color: rgba(245, 245, 245, 0.895);
    background-size: cover;
}


.h6-color{
    color: red;
}

#card{
    text-indent: 30px;
}

.font-awesome{
    text-indent: 80px;
}

.card-text{
    font-size: 10px;
}

